{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
        .leaflet-container { height: 100%; }
    </style>
  </head>
  <body>
    <h1>Django-Leaflet</h1>
    {% leaflet_map "main" %}

    <script type="text/javascript">
        window.addEventListener('map:init', function (e) {
            var map = e.detail.map,
                dataurl = '{% url "data" %}',
                xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function (data) {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    // Add GeoJSON layer
                    L.geoJson(JSON.parse(xmlhttp.responseText))
                     .addTo(map);
                }
            }
            xmlhttp.open('GET', dataurl)
            xmlhttp.send()
        });
    </script>
    
  </body>
</html>